{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ items|length }} Items{% endblock %}</h1>
{% endblock %}

{% block content %}
{#  <div>    <p>Here is my category_list: {{ category_list }}</p></div>#}
  <form method="post">
    <label for="item_name">Item</label>
    <input name="item_name" id="item_name" required>

{#    <select name="category_list" method="GET" action="/">#}
{#      <option value="{{category_list[0]}}" selected>{{category_list[0]}}</option>#}
{#      {% for category in category_list[1:] %}#}
{#        <option value="{{category}}">{{category}}</option>#}
{#      {% endfor %}#}
{#    </select>#}
    <input type="submit" value="Create">


  </form>

	{% for item in items %}
	<p>
		{{ item['name'] }}
		<a class="action" href="{{ url_for('items.update', id=item['id']) }}">Edit</a>
	</p>
	{% endfor %}
{% endblock %}



