{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit Category "{{ category['id'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <label for="category_name">Name</label>
  <input name="category_name" id="title"
                      value="{{ request.form['category_name'] or category['name'] }}" required>
  <input type="submit" value="Save">
</form>
<hr>
<form action="{{ url_for('categories.delete', id=category['id']) }}" method="post">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}
